<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Login</title>
</head>
<body style="display:flex; flex-direction: column; justify-content:center; text-align: center; background-color: bisque; font-size: 30px; color: darkred;">

    <h1 style="background-color: darkred; color: bisque; padding: 10px; border-radius: 15px; margin-top: 5px; "><%= mensagem %></h1>
    Seja Bem-Vindo <%= login %>
    <a href="menu.html" style="text-decoration: none; color: darkred; font-weight: bold;">Clique aqui para entrar</a>
    
</body>
</html>